<div *ngIf="identity">
  <div class="loading" *ngIf="loading">
    <img src="../../assets/images/loader.gif" />
  </div>
  <section id="albums-list">
    <div class="container-fluid">
      <div class="col-sm-5 col-md-5"></div>
      <div class="col-sm-7 col-md-7">
        <form class="navbar-form navbar-left" role="search">
          <div class="form-group">
            <input #buscar (keyup.enter)="buscarAlbum(buscar.value)" type="text" class="form-control" placeholder="Buscar álbum">
          </div>
          <button (click)="buscarAlbum(buscar.value)" type="button" class="btn btn-default">Buscar</button>
        </form>
      </div>
      <div class="col-sm-5 col-md-6">
        <h2>Álbumes</h2>
      </div>
      <div class="col-sm-5 col-sm-offset-2 col-md-6 col-md-offset-0">
        <a *ngIf="identity" class="btn btn-primary btn-album" [routerLink]="['/crear-album']"> Crear Album </a>
      </div>
      <div class="selector-pagina">
          <ul class="pagination">
            <li><a [routerLink]="['/albums', prev_page]">&laquo;</a></li>
            <li><a [routerLink]="['/albums', next_page]">&raquo;</a></li>
          </ul>
      </div>
    </div>
  </section>

  <ul id="albums-list">
    <li *ngFor="let album of albums" class="album-item col-md-4 col-sm-5 col-sm-offset-2 col-md-offset-0">
      <div class="content-data">
        <a  [routerLink]="['/album',album._id]"><h4>{{album.title}}</h4></a>
        <p>{{album.description}}</p>
        <p>{{album.cat}}</p>

        <p class="buttons">
          <button type="button" [routerLink]="['/album',album._id]" class= "btn btn-success"> Ver album </button>
          <button *ngIf="album.owner == identity._id" type="button" [routerLink]="['/crear-imagen', album._id]"  class= "btn btn-success"> Añadir fotos </button>
          <button *ngIf="album.owner == identity._id" type="button" [routerLink]="['/editar-album', album._id]" class= "btn btn-success"> Editar </button>
          <button *ngIf="album.owner == identity._id" (click)="onDeleteConfirm(album._id)" class= "btn btn-danger"> Eliminar </button>
        </p>
        <div class="seguro" *ngIf="confirmado == album._id">
          <p>Se eliminará el album completo</p>
            <a (click)="onDeleteAlbum(album._id)" class="btn btn-danger"> Eliminar </a>
            <a (click)="onCancelAlbum()" class="btn btn-success">Cancelar </a>
        </div>

        </div>
    </li>
  </ul>

</div>
<div *ngIf="!identity">
  <div class="loading" *ngIf="loading">
    <img src="../../assets/images/loader.gif" />
  </div>
  <section id="albums-list">
    <div class="container-fluid">
      <div class="col-sm-5 col-md-5"></div>
      <div class="col-sm-7 col-md-7">
        <form class="navbar-form navbar-left" role="search">
          <div class="form-group">
            <input #buscar (keyup.enter)="buscarAlbum(buscar.value)" type="text" class="form-control" placeholder="Buscar álbum">
          </div>
          <button (click)="buscarAlbum(buscar.value)" type="button" class="btn btn-default">Buscar</button>
        </form>
      </div>
      <div class="col-sm-5 col-md-6">
        <h2>Álbumes</h2>
      </div>
      <div class="col-sm-5 col-sm-offset-2 col-md-6 col-md-offset-0">
        <a class="btn btn-primary btn-album" (click)="registrado()"> Crear Album </a>
      </div>
      <div class="selector-pagina">
          <ul class="pagination">
            <li><a [routerLink]="['/albums', prev_page]">&laquo;</a></li>
            <li><a [routerLink]="['/albums', next_page]">&raquo;</a></li>
          </ul>
      </div>

    </div>
  </section>

  <ul id="albums-list">
    <li *ngFor="let album of albums" class="album-item col-md-4 col-sm-5 col-sm-offset-2 col-md-offset-0">
      <div class="content-data">
        <a  [routerLink]="['/album',album._id]"><h4>{{album.title}}</h4></a>
        <p>{{album.description}}</p>
        <p>{{album.cat}}</p>

        <p class="buttons">
          <button type="button" [routerLink]="['/album',album._id]" class= "btn btn-success"> Ver album </button>
        </p>
        <div class="seguro" *ngIf="confirmado == album._id">
          <p>Se eliminará el album completo</p>
            <a (click)="onDeleteAlbum(album._id)" class="btn btn-danger"> Eliminar </a>
            <a (click)="onCancelAlbum()" class="btn btn-success">Cancelar </a>
        </div>

        </div>
    </li>
  </ul>

</div>
