<div class="form-content">
<h2>{{titleAddImage}}</h2>
<div class="clearfix"></div>
    <div *ngIf="alertMessage">
      <div class="alert alert-info">
        {{alertMessage}}
      </div>
    </div>
<div class="jumbotron jumboform">
<form #formImage = "ngForm" (ngSubmit)="onSubmit()" class="form-horizontal col-md-6">

  <div class="form-group">
    <label for="inputName" class="col-sm-4 control-label">Título</label>
    <div class="col-sm-8">
      <input type="text" #title="ngModel" name="title" [(ngModel)]="image.title" required class="form-control" placeholder="Título" required />
    </div>
    <span *ngIf="!title.valid && title.touched">El campo título es obligatorio</span>
  </div>
  <div class="form-group">
    <label for="inputDescription" class="col-sm-4 control-label">Descripción</label>
    <div class="col-sm-8">
      <textarea #description="ngModel" [(ngModel)]="image.description" name="description" class="form-control" placeholder="Descripción" required ></textarea>
    </div>
    <span *ngIf="!description.valid && description.touched">El campo descripción es obligatorio</span>
  </div>

  <div *ngIf="is_edit">
    <div class="form-group">
      <label class="col-sm-4 control-label">Sube la imagen:</label>
      <input type="file" placeholder="Subir imagen..." (change)="fileChangeEvent($event)" />
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-success" [disabled]="!formImage.form.valid">{{titleAddImage}}</button>
    </div>
  </div>

</form>
</div>
</div>
