<div class="image-box">
  <div class="container-fluid">
    <div class="col-sm-5 col-md-2 imagen">
      <ul class="nav nav-pills nav-stacked menu-lateral">
        <li id="lidatos-user" role="presentation" class="text-center"><a [routerLink]="['/user/',user._id]"><i class="user-icon glyphicon glyphicon-user"></i><p>Datos de usuario</p></a></li>
        <li id="ligallery" role="presentation" class="active text-center"><a [routerLink]="['/user/gallery/',user._id]"><i class="user-icon glyphicon glyphicon-picture"></i><p>Galería</p></a></li>
        <li id="lialbums" role="presentation" class="text-center"><a [routerLink]="['/user/albums/',user._id]"><i class="user-icon glyphicon glyphicon-book"></i><p>Álbumes</p></a></li>
        <li id="limusic" role="presentation" class="text-center"><a [routerLink]="['/user/music/',user._id]"><i class="user-icon glyphicon glyphicon-cd"></i><p>Música</p></a></li>
        <!--<li id="lievents" role="presentation"><a>Eventos</a></li>-->
      </ul>
    </div>
    <div *ngIf="images.length > 0">
    <div class="col-sm-6 col-sm-offset-2 col-md-8 col-md-offset-0">
      <section class="datos-user">
        <h3>Galería de <strong>{{user.nick}}</strong></h3>
        <div class="row2">
          <div class="item2" *ngFor="let image of images">
              <div class="well2">
                <a [routerLink]="['/imagen', image._id]"><img src="{{url + 'get-image/' + image.picture}}" alt="{{image.title}}"></a>
              </div>
          </div>
        </div>

      </section>
    </div>
    </div>
    <div *ngIf="images.length<=0">
    <div class="col-sm-6 col-sm-offset-2 col-md-8 col-md-offset-0">
      <section class="datos-user">
        <h3>Galería de <strong>{{user.nick}}</strong></h3>

        <div class="alert alert-info" role="alert">El usuario aún no tiene imágenes</div>

      </section>
    </div>
    </div>
  </div>
</div>
